@import "tailwindcss";

/* Design System - Colors */
@theme {
  --color-primary-blue: #00263f;
  --color-dark-bg: #0a1a24;
  --color-text-gray: #677986;
  --color-accent-blue: #0c7e98;
  --color-primary-text: #dff4fd;
  --color-gradient-footer-from: rgba(45, 139, 187, 0.5);
  --color-gradient-footer-to: rgba(223, 244, 253, 0.5);
  /* --color-slightly-dark: #0A1A24; */
  /* --color-slightly-dark: #022e4b; */
  --color-slightly-dark: rgba(0, 38, 63, 0.4);
  --color-tiny-border: rgba(232, 236, 239, 0.5);
  --color-tinier-border: rgba(232, 236, 239, 0.25);
  --color-tiniest-border: rgba(232, 236, 239, 0.1);
  --color-light-header: #dff4fd;
  --font-ibm: "IBM-Plex-Mono";
}
@theme {

}

/* Font declarations */
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM-Plex-Mono";
  src: url("/fonts/ibm_plex_mono/IBMPlexMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM-Plex-Mono";
  src: url("/fonts/ibm_plex_mono/IBMPlexMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}
@font-face {
  font-family: "IBM-Plex-Mono";
  src: url("/fonts/ibm_plex_mono/IBMPlexMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Global styles */
html,
body {
  font-family: "Neue Montreal", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: theme(--color-dark-bg);
  color: white;
}

/* Fix for heading fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: -0.025em;
}

/* Swiper customization */
.swiper-container {
  padding: 50px 0;
}

.swiper-slide {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide-active {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
